<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpringClient"
        android:usesCleartextTraffic="true"
        android:debuggable="true"
        tools:targetApi="31"
        tools:ignore="HardcodedDebugMode">

        <activity
            android:name=".view.MainActivity"
            android:exported= "true"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>


        <activity
            android:name=".view.inserisciElemento.InserisciElementoActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.DashboardAdminActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.creaNuovaUtenza.StartNuovaUtenzaActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.PasswordDimenticataActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.nuovaOrdinazione.StartNuovaOrdinazioneActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.nuovaOrdinazione.EsploraCategorieActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".view.nuovaOrdinazione.VisualizzaMenuCategoriaActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.nuovaOrdinazione.RiepilogoOrdinazioneActivityViewContract"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.statoOrdinazioni.HomeStatoOrdinazioneActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.StartGestioneMenuActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.gestioneElementiMenu.HomeModificaElementoMenuViewActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.gestioneCategorie.EsploraCategorieMenuActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".view.gestioneCategorie.VisualizzaElementiDellaCategoriaActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.inserisciElemento.HomeNuovoElementoActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity
            android:name=".view.gestioneCategorie.CreaCategoriaActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.gestioneCategorie.SelezionaImmagineCategoriaActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.gestioneElementiMenu.CercaElementoActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.gestioneElementiMenu.ModificaElementoActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.inserisciNuovaLingua.SelezioneNuovaLinguaActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.inserisciNuovaLingua.NuovoElementoNuovaLinguaActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.gestioneCategorie.FiltraCategoriaGestioneMenuActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.analyticsView.StatisticheActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.nuovaOrdinazione.FiltraCategoriaNuovaOrdinazioneActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation= "landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>